$color-dark: #000;
$color-light: #fff;
$color-accent: #42b983;
$color-accent2: #2c3e50;

$transparent-dark: rgba($color-dark, 0.7);

$size-content-max-width: 1600px;

$breakpoint-mobile: 600px;
$breakpoint-tablet: 800px;
$breakpoint-desktop: 1024px;
